.ZATEM{
    width: 80%;
    height: 350px;
    background-color: rgb(217, 255, 0);
    color: rgb(59, 253, 0);
    margin: 45px;
    margin-left: 100px;
}
.logo{
    width: 150px;
    height: 80%;
    float: left;
    margin: 5px;
    transition: 1s;
}
.logo:hover{
    width: 200px;
    height: 95%;
    margin: 0px;
}
.nach{
    margin: 15px;
}
.zag{
    font-size: 40px;
    color: rgb(250, 65, 65);
}
.header{
    width: 100%;
    height: 100px;
    background-color: rgb(185, 38, 99);
}
.menubtn{
    background-color: rgb(209, 68, 68);
    color:#E053EB;
    width: 12%;
    height: 70%;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 45%;
    font-family: Comic Sans Ms;
    cursor: pointer;
}
.provlich{
    width: 100px;
    height: 100px;
    background-color: rgb(67, 255, 208);
    color: rgba(0, 255, 34, 0.753);
}
.menubtnlock{
    margin-left:20%;
    width: 80%;
    height: 100%;
}
.footer{
    margin-top: auto;
    width: 100%;
    height: 20px;
    background-color: rgb(185, 38, 99);
}
.fnf{
    margin-left: 35%;
}
.fnftext{
    font-size: 20px;
    color: rgb(70, 148, 250);
}
.poema{
    border: 5px solid rgb(157, 118, 230);
    width: 25%;
    float: left;
    margin-bottom: auto;
}
html{
    font-family: Comic Sans Ms;
}
.galimg{
    width: 250px;
    height: 300px;
    float: left;
    margin-right: 5px;
}
.slide{
    width: 450px;
    height: 500px;
    border: 1px solid gray;
}
.strr{
    width: 50px;
    height: 50px;
    font-family: Comic Sans MS;
    background-color: rgb(75, 232, 253);
    color: rgba(0, 26, 255, 0.863);
}
.strl{
    width: 50px;
    height: 50px;
    font-family: Comic Sans MS;
    background-color: rgb(75, 232, 253);
    color: rgba(0, 26, 255, 0.863); 
}
.num{
    width: 50px;
    height: 50px;
    font-family: Comic Sans MS;
    background-color: rgb(75, 232, 253);
    color: rgba(0, 26, 255, 0.863);
    border-radius: 50%;
    transition: 5s;
}
.num:active{
    width: 1000px;
    height: 1000px;    
    color: rgb(248, 60, 60);
    background-color: rgba(255, 215, 36, 0.582);
}
.center-img {
    text-align: center;
}
.nav{
    text-align: center;
}
.tup{
    font-size: 35px;
    color: rgb(0, 255, 170);
}
li{
    cursor: pointer;
    color: rgb(77, 124, 253);
    transition: 1s;
}
li:hover{
    color: rgb(252, 89, 89); 
}    
a{
    text-decoration: none;
}
