input{
    margin-bottom: 10px;
    width: 175px;
    height: 25px;
    color: rgb(90, 209, 116);
    place-self: red;
    background-color: rgb(62, 84, 182);
    font-family: Comic Sans MS;
}  
input[type="password"]::-moz-placeholder {
    color: #95ffb8; /* Цвет подсказывающего текста */
}
input[type="password"]::-webkit-input-placeholder { color: #95ffb8; }
input[type="password"]:-ms-input-placeholder { color: #95ffb8; }
input[type="password"]::-ms-input-placeholder { color: #95ffb8; }
input[type="password"]::placeholder { color: #95ffb8; }       
input[type="text"]::-moz-placeholder {
    color: #95ffb8; /* Цвет подсказывающего текста */
}
input[type="text"]::-webkit-input-placeholder { color: #95ffb8; }
input[type="text"]:-ms-input-placeholder { color: #95ffb8; }
input[type="text"]::-ms-input-placeholder { color: #95ffb8; }
input[type="text"]::placeholder { color: #95ffb8; }
button{
    width: 75px;
    height: 30px;
    background-color: crimson;
    color: darkkhaki;
    font-family: Comic Sans Ms;
}
html{
    background-size: 100%;
}
/* 7.jpg, 8a0f7834d06badcd0e978431c5a848b8.jpg, back.jpg, нет */
/*  3.jpg, 8a0f7834d06badcd0e978431c5a848b8.jpg, 13.jpg, 76.jpg  - да*/